
.normal {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 2;
  display: flex;
}

.main {
  padding: 0 8px;
  flex: 2 0 auto;
}
.logo {
  width: 200px;
  height: 64px;
  background: rgba(23, 75, 90, 0.96);
  text-align: center;
  line-height:3.5;
  float: left;
}
.logo_txt{

  color: #ffffff;
  font-size: 1.1em;
}
